.imagen{
    background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("../trensas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 37rem;
}
@media (max-width: 768px) { 
    .imagen{
        height: 31rem;
        background-position: center;
    }
}
@media (min-width: 992px) { 
    .ars{
        display: none;
    }
}

@media (max-width: 575px) { 
    .border{
        border: none !important;
    }
}

.rowUno{
    display: flex;
    justify-content: center;
}
.rowText{
    margin-left: 0.3rem;
}
@media (max-width: 420px) { 
    .rowUno{
        display: block;
        margin: 0.5rem 0;
    }
}